@charset 'UTF-8';

body {
	background: #fff url(background.png) repeat-x;
	padding-top: 13px;
	color: #555;
	/*font-family: verdana, arial;*/
/*	font-family: "Hiragino Kaku Gothic Pro W3", "Meiryo", "MS PGothic", "Osaka", "IPA UIGothic", "IPA mona UIGothic", "VL PGothic", "Sazanami Gothic", "DynaLab-dfghsgothic w5-jisx0208.1990-0", "DynaLab-dfggothic w5-iso8859-1", "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif; */
	font-family: Meiryo, "Hiragino Kaku Gothic Pro", "Osaka", "MS PGothic", "IPA UIGothic", "IPA mona UIGothic", "VL PGothic", "Sazanami Gothic", "DynaLab-dfghsgothic w5-jisx0208.1990-0", "DynaLab-dfggothic w5-iso8859-1", "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	font-size: small;
}

input,text,select {font:inherit;}

@media screen {
	body {
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media print {
	pre, .note, td, th {
		border: 1px dashed gray;
	}
}

img {
	border: none;
}

a:link, a:visited {
	color: #1D3565; 
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.heading {
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
	color: gray;
	letter-spacing:3px;
	margin: 15px 0 20px;
}

.heading i {
	position: absolute;
	top: 15px;
	right: 5px;
	font-size: small;
	font-style: normal;
	font-weight: normal;
}


p {
	text-indent: 10px;
	margin-left:20px;
}

h1 {
	border-bottom: 1px dotted gray;
	font-size: 145%;
	color: #596d9d;
	font-weight:bold;
	letter-spacing:2px;
}

h2 {
	color: #666;
	font-size: 110%;
	margin: 20px 10px 10px 10px;
	border-left: 5px solid #94a8c9;
	padding: 0 0 0 8px;
	letter-spacing:2px;
}

h3 {
	margin-left: 12px;
	border-bottom:1px dotted #666;
	font-size:100%;
	color:#596d9d;
	letter-spacing:1px;
}

pre, .note, .faq .answer {
/*	font-family: "Meiryo", "MS PGothic", "Osaka", "IPA UIGothic", "IPA mona UIGothic", "VL PGothic", "Sazanami Gothic", "DynaLab-dfghsgothic w5-jisx0208.1990-0", "DynaLab-dfggothic w5-iso8859-1", "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;*/
	font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", "IPA UIGothic", "IPA mona UIGothic", "VL PGothic", "Sazanami Gothic", "DynaLab-dfghsgothic w5-jisx0208.1990-0", "DynaLab-dfggothic w5-iso8859-1", "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	font-size: small;
	background-color: #eee;
	padding: 10px;
	font-size: small;
/*	white-space: -moz-pre-wrap; /* Mozilla *
	white-space: -pre-wrap;     /* Opera 4-6 *
	white-space: -o-pre-wrap;   /* Opera 7 *
	white-space: pre-wrap;      /* CSS3 *
	word-wrap: break-word;      /* IE 5.5+ */
}

.screenshot {
	text-align: center;
	background-color: #eee;
	padding: 10px;
}

.faq .question {
	font-weight: bold;
	margin-bottom: 0px;
}

.faq .answer {

}

.faq {
	margin-bottom: 20px;
}

table {
	border: none;
}

th {
	background-color: linen;
	font-size: medium;
}

th, td {
	padding: 5px;
	line-height: 1.8em;
}

td {
	background-color: #eee;
	font-size: small;
	vertical-align: top;
	text-align: left;
}

.deprecated {
	border: 3px solid red;
	padding: 5px;
	font-size: medium;
}

tt, code, samp {
	font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", "IPA UIGothic", "IPA mona UIGothic", "VL PGothic", "Sazanami Gothic", "DynaLab-dfghsgothic w5-jisx0208.1990-0", "DynaLab-dfggothic w5-iso8859-1", "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;

	font-size: small;
}

.warning {
	color: red;
}
.ok {
	color: green;
}

acronym, abbr {
	border-bottom: 1px dotted gray;
	cursor: help;
}

label {
	cursor:pointer;cursor: hand;
}

ul {
	line-height:1.5em;
	margin:0 0 0.5em 40px;
	padding:0;
	list-style-image:url(bullet.gif);
}

li {
	line-height: 2em;
}

table#files_index {
	width: 100%;
	line-height: 0.8em;
	border-collapse: collapse;
	margin-bottom: 2px;
}

table#files_index th {
	width: 20%;
	padding : 4px;
	text-align: left;
	background-color: #eee;
	white-space:nowrap;
	font-weight:normal;
}


#fontSizeChanger {
	position: fixed;
	top: 20px;
	left: 50px;
	font-size: medium !important;
}

#fontSizeChanger a {
	font-weight: normal;
	border: 1px dotted gray;
	padding: 0 3px;
}

#fontSizeChanger a#fontSmall {
	font-weight: bold;
}

#fontSizeChanger a:hover {
	color: #fff;
	background-color: #1D3565;
}
