/*
 * style sheet for installer
 * 
 * $Id: 
*/

@charset 'UTF-8';
/* CSS Document */

/* Layout */
body{
	font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
	margin:0;
	padding:0;
	text-align:center;
	color:#333;
}
select, option, input, button, td {
	font:inherit;
}
select, option, button {
	cursor:pointer;cursor:hand;
}
input[type=text],input[type=password] {
	font-size:1.3em;
	padding:5px;
	letter-spacing:1px;
	width:350px;
	box-shadow: 0px 1px 3px #E8E8E8 inset;
	background-color:#fff;
	border:1px  solid #abadb3;
}

#header{
	width: 100%;
	height:50px;
	background:#000;
	position: fixed;  
	top:0;  
	left:0;  
}
#container,#container_detailed,#footer,#navigation{
	margin:0 auto;
	text-align:left;
	border-width:0 1px;
}
#navigation{
	width:800px;
	overflow:hidden;
}
#container,#container_detailed{
	width:600px;
	padding:40px 20px 0 30px;
}
#footer{
	width:600px;
}

/* Common Settings */
p{
	margin:1em 0;
}
img{
	border:none;
}
a{
	text-decoration:none;
}
pre{
	line-height: 1em;
	background-color:#eee;
	border:1px solid gray;
	padding: 2px;
}
.err{
	display:block;
	color:#c00;
}

/* Top navigation */
#navigation h1{
	width:120px;
	height:35px;
	margin:2px 30px 0 0;
	padding:4px 0 1px 0;
	float:left;
}
#navigation ul{
	margin:16px 0 0 0; 
	padding:0;
	list-style-type:none;
}
#navigation li{
	float:left;
}
#navigation li.rightbox{
	float:right;
}
#navigation li,#navigation a{
	color:#dedede;
}
#navigation li.gry{
	color:#787878;
}
#navigation a:hover{
	color:#fff;
}

/* Content */
#container h2,#container_detailed h2{
	margin:0 -20px 0 -30px;
	padding:6px 0 4px 35px;
}

/* Form table */
.prt table{
	width: 100%;
	margin-bottom:20px;
}
.prt table th{
	text-align:right;
}
.prt table th .nam{
	margin:5px 0 0 0;
	padding:5px 0 0 0;
	color:#454545;
}
.prt table th .sub{
	display:block;
	margin:0;
	padding:0 0 5px 0;
	font-weight:normal;
	color:#666;
}
.prt table td input{
	width:390px;
	margin:0 0 0 5px;
	color:#333;
	background:url("nuc_input_bk.png") no-repeat;
	border:1px solid #999;
	border-right-color:#ccc;
	border-bottom-color:#ccc;
}

#container_detailed .prt table td input{
	height:25px;
	margin:0 0 0 5px;
}

/* Select */
.prt select{
	width:510px;
	margin:0 20px 10px 0;
	border:1px solid #999;
	border-left-color:#ccc;
	border-top-color:#ccc;
	background:url("nuc_input_bk.png") no-repeat;
}

#container_detailed .prt select{
	height:25px;
	line-height:25px;
	margin:0 20px 10px 0;
}

/* Button */
.prt .sbt{
	height:40px;
}
.prt .sbt .sbt_sqr,.prt .sbt .sbt_arw{
	height:35px;
	border:none;
	background:#000;
	color:#dedede;
}
.prt .sbt .sbt_sqr{
	padding:0 20px;
	margin-right:5px;
	border-radius:5px;
}
.prt .sbt .sbt_arw{
	padding:0 30px 0 20px;
	border-radius:5px 0 0 5px;
	background:url("nuc_but_bk_03.png") right top no-repeat #000;
}
.prt .sbt .sbt_sqr:hover{
	color:#ffde00;
	background:#292929;
}
.prt .sbt .sbt_arw:hover{
	color:#ffde00;
	background:url("nuc_but_bk_03.png") right top no-repeat #292929;
}

/* Text */
#config_text{
	width:100%;
	height:50px;
	border:1px solid gray;
}

/* Footer */
#footer{
	border-top:1px solid #999;
	text-align:center;
	height:25px;
	margin-top:10px;
	padding:5px 10px 0 0;
}

