/*
	This stylesheet serves to make item previews look nicer, and to markup the 
	buttonbar
	
	$Id: addedit.css 757 2005-08-12 07:29:40Z dekarma $
*/

.leftbox, .rightbox {
	margin: 3px;
	padding: 3px;
	font-size: larger;
	width: 20%;
}
.leftbox {
	float: left;
	border-right: 2px solid #888;	
}
.rightbox {
	float: right;
	border-left: 2px solid #888;	
}

/* markup buttons */
.jsbuttonbar {
	padding: 3px;
	cursor: default;
}

.jsbutton {
	float: left;
	padding: 3px;
	margin-right: 4px;
	height: 16px;
	width: 16px;
	border: 1px solid #dddddd;
	background-color: white;
}

.jsbuttonspacer {
	float: left;
	width: 10px;
}

.jsbuttonend {
	clear: both;
}
