/.htaccess
/config.php
/install/ENABLE_SQLITE_INSTALL
/install/install-config.php

/nbproject/*
#!/nbproject/project.xml
#!/nbproject/project.properties

/nucleus/cache/*
!/nucleus/cache/.htaccess

/nucleus/plugins/*
!/nucleus/plugins/config.php
!/nucleus/plugins/index.html
!/nucleus/plugins/sample.config-plugin.php
!/nucleus/plugins/securityenforcer

/settings/*
!/settings/index.html
!/settings/readme.html

/test

*.bat
*.bladec
*.lnk
*.sqlite
*.url
.php-cs-fixer.cache
