<!DOCTYPE html>
<html <?php echo $lang; ?>>
    <head><meta charset="<?php echo _CHARSET; ?>" />
    <title><?php echo hsc($title)?></title></head>
    <body>
        <h1><?php echo hsc($title)?></h1>
        <?php echo $msg?>
    </body>
</html>
