@charset 'UTF-8';

/*
	admin area style
*/

body {
	background: #ffffff url(background.png) repeat-x;

}

body, td, th, a, li, ul, textarea {
/*	color: #000; modify */
	color: #333
/*	font-family: "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;*/
/*	font-family: "Hiragino Kaku Gothic Pro W3", "Meiryo", "MS PGothic", "Osaka", "IPA UIGothic", "IPA mona UIGothic", "VL PGothic", "Sazanami Gothic", "DynaLab-dfghsgothic w5-jisx0208.1990-0", "DynaLab-dfggothic w5-iso8859-1", "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif; */
	font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", "IPA UIGothic", "IPA mona UIGothic", "VL PGothic", "Sazanami Gothic", "DynaLab-dfghsgothic w5-jisx0208.1990-0", "DynaLab-dfggothic w5-iso8859-1", "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
}

/* basic link appearance */
a:link, a:visited {
	color: #1D3565;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* textareas */
textarea {
/*  font-size: small;*//*mod yotaka 090323*/
	font-size: 9pt;/*add yotaka 090323*/
  
	line-height:145%;/* add */
	padding:5px;/* add */
	width: 95%;
}

/* textareas for skin/template editing have monospace fonts */
textarea.skinedit, textarea.templateedit {
/*	font-family: "Hiragino Kaku Gothic Pro W3", "MS PGothic", "Osaka", monospace;
/* except MacIE \*//*
	font-family: monospace;
/* end */
/*	font-size: medium;*//*mod yotaka 090323*/
	font-size: 9pt;/*add yotaka 090323*/
}

/* add start */
textarea#inputbody,textarea#inputmore {
	width:500px;
	margin:5px 3px;
}

textarea.pluginoption {
	width:420px;
}
/* add end */

/* images */
img {
	border: none; 
}

img.skinpreview {
	border: 1px solid #ccc;
}

/* forms */
form {
	margin-bottom: 0px;
}

label {
	cursor: pointer; 
}

input.transparent {
	background-color: transparent;
}

/* preformatted text */
pre {
	margin-left: 10px;
}

/* a div that has an indent */
div.indent {
	margin-left: 40px;
}

.skip {
	display: none; 
}

.error {
	color: red;
	/*font-size: 1.2em;*//*mod yotaka 090323*/
	font-size: 14pt; /*add yotaka 090323*/
}

/* header */
h1 {
	text-align: right;
/*	font-size: 30px;*//*mod yotaka 090323*/
	font-size:24pt;/*add yotaka 090323*/
	font-weight: 900;
	letter-spacing: 0.1em;
/*	color: #0001AA;*/
	color: #596d9d;
	margin: 0 0 5px 135px;
	height: 35px;
/*	display: none;	hide the header if you don't want it*/

}

/* quick menu on left */
/* 
	It's a real pain getting this absolute positioning to work correctly
	in all browsers. IE in particular seems to have a lot of trouble, even
	when a valid doctype is present. Because of the way it is solved currently,
	the top of the quickmenu and the contents will not line up
*/
#quickmenu {
	position: absolute;
	overflow: hidden;
	
	top: 10px;
	left: 10px;

	width: 150px;
	margin: 0px;
	padding: 0px;
	
/*	font-size: 70%;*/
/*	font-size: small;*//*mod yotaka 090323*/
	font-size:9pt;/*add yotaka 090323*/
	color:#333;/* add */
	
	border-width: 1px;
	border-style: solid;
/*	border-color: black; modify */
	border-color: #bbb;

	background: #ffffff url(quickb.jpg) top left fixed repeat-y; 
}

#quickmenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#quickmenu li {
	padding: 0;
	margin: 0;
	text-align: center;
	border-bottom: 1px solid #ccc;
}

#quickmenu p {
	padding: 5px;
	margin: 0px;
	text-align: justify;
}

#quickmenu a {
	display: block;
	padding: 5px;
	/*font-size: 1em;*//*mod yotaka 090323*/
	font-size: 9pt;/*add yotaka 090323*/
	line-height: 1.5em;
	text-decoration: none;
/*	font-family: verdana, lucida, arial, helvetica, sans-serif;
}

*>#quickmenu a {
	font-family: "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
*/
}

#quickmenu a:hover {
	background: #ffffff url(quickb-hover.jpg) top left fixed repeat-y; 
/*	color: #000; modify */
	color: #333;
	letter-spacing: 1px;
	white-space: nowrap; /* add */
}

#quickmenu h2 {
	/*font-size: small;*//*mod yotaka 090323*/
	font-size: 9pt;/*add yotaka 090323*/
	text-align: center;
	padding: 1px 0px 1px 0px;
	margin: 0px;
	border-bottom: 1px solid #bbb; 	
	background-color: #ddd;
/*	color: #000; modify */
	color: #333;
}

#quickmenu form {
	margin: 0;
	padding: 5px;
	text-align: center;
}

#quickmenu option {
/*	font-size: 0.9em;*//*mod yotaka 090323*/
	font-size: 8pt;/*add yotaka 090323*/
}

.loginname {
	float: right;
/*	font-size: small;*//*mod yotaka 090323*/
	font-size: 9pt;/*add yotaka 090323*/
	text-align: right;
	line-height: normal;
	padding-left: 5px;
	background-color: white;
}

/* page content */
#content {
   margin-left:163px;
	font-style: normal;
	text-decoration: none;
/*	color: black; modify */
	color: #333;
	text-align: justify;
	line-height: 13pt;

	border-width: 1px;
	border-style: solid;
/*	border-color: black; modify */
	border-color: #bbb;
	
/*	rounded borders in gecko-based browsers? why not :) */
	-moz-border-radius: 10px;

/*	rounded borders in webkit-based browsers? why not :) */
	-webkit-border-radius: 10px;

/*	rounded borders in css3-based browsers? why not :) */
	border-radius: 10px;

	padding: 10px 10px 0 10px;

	background-color: white;

}

#content h2 {
	color: #596d9d; 

	border-color: gray;
	border-style: dashed;
	border-width: 0px 0px 1px 0px;

	/*font-size: large;
	line-height: 120%;*//*mod yotaka 090323*/
	font-size: 10pt;/*add yotaka 090323*/
	line-height: 20px;/*add yotaka 090323*/

	text-decoration: none;
	font-weight: bold; 
	letter-spacing: 2px;/* add */
	margin-top:20px;/*add yotaka 090323*/
}

#content h3 {
/*	border-color: gray;
	border-style: dotted;
	border-width: 0px 0px 1px 0px; modify */

	border-color: #596d9d;
	border-style: solid;
	border-width: 0px 0px 0px 5px;

/*	font-size: medium;*/
	font-size: 10pt;
	font-weight: normal;
	line-height: 120%;

/*	color: gray;
	padding-left: 20px;
	letter-spacing: 2; modify */

	color: #596d9d;
	padding-left: 8px;
	letter-spacing: 2px;
	margin-left:5px;/* add */
}

/* add start */
#content ul {
	line-height:1.5em;
/*	list-style-type:square;*/
	margin:0 0 0.5em 30px;
	padding:0;
	list-style-image:url(bullet.gif);
}
/* add end */

#content .note, pre {
	background-color: #ddd;
	padding: 5px;
}

#content li a{
	font-size: 9pt;/*add yotaka 090323*/
}

/* 
	font size tricks, to make it work in all browsers

	See:
	http://diveintoaccessibility.org/day_26_using_relative_font_sizes.html

	(netscape 4 trick is left out, Nucleus doesn't work anyway in that browser)	
	#content should be 'small' (in standard-compliant browsers)

*/

#content {
/*	font-size: small;*//*mod yotaka 090323*/
	font-size: 9pt;/*add yotaka 090323*/
	voice-family: "\"}\"";
	voice-family: inherit;
	/*font-size: small;*//*mod yotaka 090323*/
	font-size: 9pt;/*add yotaka 090323*/
}
html>body #content {
	/*font-size: small;*//*mod yotaka 090323*/
	font-size: 9pt;/*add yotaka 090323*/
}

/* tables */
table {
	border: none;
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 10px;
	margin-top: 10px;	
}

th {
/*	background-color: #bbc; modify */
	background-color: #ddd;
/*	color: #000; modify */
	color: #333;
	/*font-size: small;*//*mod yotaka 090323*/
	font-size: 9pt;/*add yotaka 090323*/
	letter-spacing:1px;/* add */
}

th, td {
	padding: 4px;
	empty-cells: show;	
	border: 1px solid #ddd; /* add */
}

td {
	background-color: #fff;
/*	border: 1px solid #ddd;*/
/*	font-size: small;*//*mod yotaka 090323*/
	font-size: 9pt;/*add yotaka 090323*/
	vertical-align: top;
	text-align: left;
}

td a:link, td a:visited { 
	text-decoration: underline;
/*	color: black; modify */
	color: #333;
	font-weight: normal;
}

td a:hover {
	color: #1D3565;
	text-decoration: underline;
}
td.draft {
	background-color: #ffe;
}
td.future {
	background-color: #fff7f1;
}
tr.highlighted td {
	background-color: green;
}

table.navigation td, table.navigation th {
	border: none;
}

.batchoperations {
	background-color: #ebebf2;
	width: auto;
	padding: 5px;
	text-align: right;
}

/* plugin list */
#content table ul.list_comment_info,
#content table ul.list_item_info,
#content table ul.list_item_action,
#content table ul.plugin_info,
#content table ul.pluginlist_actions {
	list-style-type: none;
	list-style-image: none;
	margin: 0 0 0.5em 5px;
	line-height:1.1em;
}

.plugin_name {
	font-weight: bold;
}

.plugin_desc h4 {
	margin: 0;
}

.plugin_desc p {
	margin-top: 0;
}

/* item list */
#content table label.list_item_title {
/*	font-size: 1.1em;*//*mod yotaka 090323*/
	font-size: 10pt;/*mod yotaka 090323*/
	font-weight: bold;
}

.list_item_info_th {
	width: 130px;
}

/* footer */
.foot {
	padding: 2px 0px 2px 10px;
	margin:10px -10px 0 -10px;
	text-align: center;
}

table .availableSkinTypes ul li {
	list-style: none;
}
