/*
	documentation style
*/

body {
    background-color: #ffffff;
    padding-top: 13px;
    color: #555;
    font-family: Meiryo, "Hiragino Kaku Gothic Pro", arial, helvetica, sans-serif;
}

@media screen {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media print {
    pre, .note, td, th {
        border: 1px dashed gray;
    }
}

img {
    border: none;
}

a:link, a:visited {
    color: #1D3565;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.heading {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: gray;
}

.heading i {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: medium;
    font-style: normal;
    font-weight: normal;
}

h1 {
    border-bottom: 1px dotted gray;
    font-size: x-large;
    color: #596d9d;
}

h2 {
    color: gray;
    font-size: large;
    margin-left: 20px;
    text-indent: 10px;
    border-bottom: 1px solid #ddd;
}

pre, .note, .faq .answer {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}

.screenshot {
    text-align: center;
    background-color: #ddd;
    padding: 10px;
}

.faq .question {
    font-weight: bold;
    margin-bottom: 0px;
}

.faq {
    margin-bottom: 20px;
}

table {
    border: none;
}

th {
    background-color: linen;
}

th, td {
    padding: 5px;
}

td {
    background-color: #dddddd;
    vertical-align: top;
    text-align: left;
}

input, select, option, textarea, td, th, tt, code, samp {
    font-size: inherit;
}

.deprecated {
    border: 3px solid red;
    padding: 5px;
    font-size: medium;
}

.warning {
    color: red;
}

.warning a:visited, .warning a:link {
    color: #f00;
    border: 1px solid #ccc;
    padding: 1em;
    background-color: #fff1e8;
    border-radius: 8px;
    display: block;
    margin-bottom: 1em;
    text-align: center;
}

.ok {
    color: green;
}

acronym, abbr {
    border-bottom: 1px dotted gray;
    cursor: help;
}

label {
    cursor: hand;
}

:placeholder-shown {
    color: #aaa;
}

/* Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder {
    color: #aaa;
}

