div.nicetitle {
	background: #FFCC01;
	color: #302C29;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	left: 0px;
	padding: 4px;
    position: absolute;
    top: 0px;    
    width: 25em;
    z-index: 20;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 10px;
	-moz-opacity: .95;
	opacity: .95;
	filter: alpha(opacity=95);
	min-width: 300px;
	width: auto;
	height: auto;
}

div.nicetitle p{
    margin: 0; 
    padding: 0 3px;
    -moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=100);
}

div.nicetitle p.destination
{
    font-size: 9px;
	font-weight: normal;
    text-align: left;
    padding-top: 3px;
    -moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=100);
}
