/* style definitions for the bookmarklet */

body {
	font-family: verdana, arial;
	font-size: small;
	background-color: #fff;
	color: #000;
}		

h1 {
	border-bottom: 1px dotted gray;
	font-size: x-large;
	color: #596d9d;
}

/* 
	Hide switch buttons initially, we'll enable them again if we are sure
	the browser supports DOM
*/
#switchbuttons {
	display: none;
}
/*
	Hide preview also when no DOM is supported
*/
#preview {
	display: none;
}

.buttonbar {
	margin-bottom: 5px;
	background-color: linen;
	padding: 2px;
}

.buttonbar input {
	background-color: transparent;
}

.contentblock {
	background-color: #ddd;
	height: 370px;
/*	overflow: auto; */ /* temporary removed, to make the select box work in Mozilla */
	padding: 5px;
	vertical-align: top;
}

.shortcuts {
	float: right; 
	text-align: right;
	font-size: x-small;
}

h2 {
	color: gray;
}

a:link, a:visited {
	color: #1D3565; 
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}			

img { 
	border: none;
}

.indent {
	margin-left: 40px;
}

label		{ cursor: pointer; }