<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html>
	<head>
		<title><%text(_EDIT_ITEM)%></title>
		<link rel="stylesheet" type="text/css" href="styles/bookmarklet.css" />
		<link rel="stylesheet" type="text/css" href="styles/addedit.css" />				
		<script type="text/javascript" src="javascript/bookmarklet.js"></script>
		<script type="text/javascript" src="javascript/edit.js"></script>
		<%init%>
	</head>
	<body onload="initStyles(); updAllPreviews();">
		<h1><%text(_EDIT_ITEM)%> (<%contents(itemid)%>)</h1>
		<form method="post" action="bookmarklet.php" ><div>
			
			<input name="action" type="hidden" value="edititem" />
			<input name="itemid" type="hidden" value="<%contents(itemid)%>" />
			
			<div id="submit" class="buttonbar">
				<input type="submit" value="<%text(_BMLET_EDIT)%>" onclick="return checkSubmit();" />
				<div id="switchbuttons">
					<input type="button" onclick="flipBlock('body');" value="<%text(_BMLET_BODY)%> &gt;&gt;" />
					<input type="button" onclick="flipBlock('more');" value="<%text(_BMLET_MORE)%> &gt;&gt;" />
					<input type="button" onclick="flipBlock('options');" value="<%text(_BMLET_OPTIONS)%> &gt;&gt;" />
					<input type="button" onclick="updAllPreviews(); flipBlock('preview');" value="<%text(_BMLET_PREVIEW)%> &gt;&gt;" />
				</div>
			</div>

			<div id="body" class="contentblock">
				<%text(_ADD_TITLE)%>:
				<input 
					<%jsinput(title)%>
					type="text" size="60" maxlength="160" 
					value="<%contents(title)%>"
				/>
			
				<br />
				<br />

				<%text(_ADD_BODY)%>: 
				<br />
				<%jsbuttonbar(media)%>
				<textarea 
					<%jsinput(body)%>
					cols="60" 
					rows="12"><%contents(body)%></textarea>

				<br /><br />
				<%text(_ADD_CATEGORY)%>: <%categories%>
					
			</div>
			
			<div id="more" class="contentblock">
				<h2><%text(_ADD_MORE)%></h2>
				
				<%jsbuttonbar(media)%>
				<textarea 
					<%jsinput(more)%>
					cols="60" 
					rows="17"><%contents(more)%></textarea>
			</div>
			<div id="options" class="contentblock">
				
				<%ifblogsetting(bcomments)%>
					<h2><%text(_ADD_DISABLE_COMMENTS)%></h2>
				    <input type="radio" name="closed" value="1" id="closed_yes" <%checkedonval(1,closed)%> /><label for="closed_yes"><%text(_YES)%></label>
				    <input type="radio" name="closed" value="0" id="closed_no" <%checkedonval(0,closed)%> /><label for="closed_no"><%text(_NO)%></label>
				<%endif%>
				
				<!-- The only actiontypes are 'edit', 'changedate' (no draft items can be edited) and 'delete' -->
				
				<h2>Action</h2>
				
				<ul>
					<li><input name="actiontype" value="edit" type="radio" checked="checked" id="act_edit" /><label for="act_edit"><%text(_BMLET_EDIT)%></label></li>
					<li><input name="actiontype" value="delete" type="radio" id="act_delete" /><label for="act_delete"><%text(_BMLET_DELETE)%></label></li>
					<%ifblogsetting(ballowpast)%>
						<li>
							<input name="actiontype" value="changedate" type="radio" id="act_changedate" tabindex="70" /><label for="act_changedate"><%text(_BMLET_CHANGEDATE)%></label> <%helplink(changedate)%>
									<div class="indent">
										<input name="day" tabindex="71" size="2" value="<%itemtime(mday)%>" />/
										<input name="month" tabindex="72" size="2" value="<%itemtime(mon)%>" />/
										<input name="year" tabindex="73" size="4" value="<%itemtime(year)%>" />
										at
										<input name="hour" tabindex="74" size="2" value="<%itemtime(hours)%>" />:
										<input name="minutes" tabindex="75" size="2" value="<%itemtime(minutes)%>" />
										(dd/mm/yyyy hh:mm)
									</div>
							</li>
					<%endif%>						
				</ul>
				
				<h2><%text(_ADD_PLUGIN_EXTRAS)%></h2>
				
				<%pluginextras%>
				
			</div>
			
			<div id="preview" class="contentblock">
				<h2><%text(_ADD_PREVIEW)%></h2>
				
				<b><span id="prevtitle"></span></b>
				<br />
				<span id="prevbody"></span>
				<br />
				<span id="prevmore"></span>
			</div>
			
		</div></form>
	</body>
	</html>

