<div class="nucleusbutton">
	<a href="<%text(_ADMINPAGEFOOT_OFFICIALURL)%>"><img src="<%formdata(imgurl)%>" width="<%formdata(imgwidth)%>" height="<%formdata(imgheight)%>" alt="Powered by Nucleus CMS" title="Powered by Nucleus CMS" /></a>
</div>
